<div class="about">
    <div class="about__devider">*****</div>
    <div class="about__text">
        Written by <strong> {% if page.author.fullname %} {{ page.author.fullname }} {% else %} {{ site.author.fullname }} {% endif %}</strong>
        on <strong>{{ page.date | date: "%Y-%m-%d" }}</strong>
    </div>
</div>