---
layout: default
---
{% include post/title.html %}

<div class="content">
    {% if page.toc %}
    <div class="toc-container">
        <h2 id="toc-title" class="toc-title">목차</h2>
        {{ content | toc_only }}
    </div>
    {% endif %}
    {{ content }}
</div>

{% include related-posts.html %}

{% include post/about.html %}
